@import url("./minecraft-font.css");

body {
  text-align: center;
  background-color: #ffaad4;
  font-family: monospace, Helvetica, serif;
}

/* 
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p
span {
  font-family: Arial, Helvetica, sans-serif;
}
*/

a {
  color: #5555ff;
}

hr {
  width: 60%;
  border-style: solid;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

#simo28 {
  color: black;
  text-decoration: none;
}

#simo28:hover {
  color: blue;
  text-decoration: underline;
}

.simotextinline {
  display: inline-block;
}
